{% extends 'generic.html' %} {% load static %}
{% block home %}



<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-7">
                <div class="banner_slider">
                    <div class="single_banner_slider">
                        <div class="banner_text">
                            <div class="banner_text_iner ">
                                <h5 class="banner_h">Winter Sale</h5>
                                <h1 class="banner_h">Winter Fashion Collection 2020</h1>
                                <a href="{% url 'coming' %}" class="btn_1">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- feature_part start-->
<section id='category' class="feature_part pt-4">
    <div class="container-fluid p-lg-0 overflow-hidden">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src=" {% static 'chotihatti/img/chunri.jpeg' %}" alt="#">
                    <div class="hover_text">
                        <a href="{% url 'coming' %}" class="btn_2">Buy chunris</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="{% static 'chotihatti/img/feature_2.png' %}" alt="#">
                    <div class="hover_text">
                        <a href="{% url 'coming' %}" class="btn_2">Buy Handmade Suits </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature_post_text">
                    <img src="{% static 'chotihatti/img/jewellery.png' %}" alt="#">
                    <div class="hover_text">
                        <a href="{% url 'coming' %}" class="btn_2">Buy Jewellery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->

<!-- new arrival part here -->
<section id="new_arrival" class="new_arrival section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="arrival_tittle">
                    <h2>new arrival</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="arrival_filter_item filters">
                    <ul>
                        <li class="active controls" data-filter="*">all</li>
                        <li class="controls" data-toggwle=".men">Chunris</li>
                        <li class="controls" data-toggle=".women">Dresses</li>
                        <li class="controls" data-toggle=".shoes">Jewellery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="new_arrival_iner filter-container">
                    <!-- ################## new Arrivals form Database ################ -->
                    {% for arrival in arrivals  %}

                    <div class="single_arrivel_item col-lg-4">
                        <img src="{{ arrival.image.url}}" alt="{{ arrival.category}}">
                        <div class="hover_text">
                            <p>{{ arrival.category}}</p>
                            <a href="single-product.html">
                                <h3>{{ arrival.category}}</h3>
                            </a>


                            <div class="rate_icon">
                                <a href="#"> <i class="fas fa-star"></i> </a>
                                <a href="#"> <i class="fas fa-star"></i> </a>
                                <a href="#"> <i class="fas fa-star"></i> </a>
                                <a href="#"> <i class="fas fa-star"></i> </a>
                                <a href="#"> <i class="fas fa-star"></i> </a>
                            </div>
                            <h5>Rs.{{arrival.price}}</h5>

                            <div class="social_icon">
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="{%  url 'cart' %}"><i class="ti-bag"></i></a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    <!-- #################### END  new Arrivals form Database #######################  -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- new arrival part end -->




<!-- ################### TESTIMONIALS SECTION############################## -->
<!-- Section: Testimonials v.3 -->
<section id="testimonial" class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">What Our Customers Say!</h2>
    <!-- Section description -->
    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="{% static 'chotihatti/img/Author_1.jpg' %}" class="avatar">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Arshad Iqbal</h4>
                <h6 class="font-weight-bold blue-text my-3">Vienna, Austria</h6>
                <p class="font-weight-normal dark-grey-text">
                    <i class="fas fa-quote-left pr-2"></i>I orderd the dresses and jewellery for my foreign friends, the
                    service and the quality of the product was exceptional. I would surely recommend and come back again
                </p>
                <!--Review-->
                <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                </div>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="{% static 'chotihatti/img/feature_1.jpeg' %}" class="avatar">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Shumaila</h4>
                <h6 class="font-weight-bold blue-text my-3">Islamabad, Pakistan</h6>
                <p class="font-weight-normal dark-grey-text">
                    <i class="fas fa-quote-left pr-2"></i>I am buying my clothes and Jewellery for special occasion and
                    I always stand out. Thanks #Chotihatti</p>
                <!--Review-->
                <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star-half-alt"> </i>
                </div>
            </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">

            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="{% static 'chotihatti/img/chunri.jpeg' %}" class="avatar">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Nusrat Jahan</h4>
                <h6 class="font-weight-bold blue-text my-3">Vancouver, Canada</h6>
                <p class="font-weight-normal dark-grey-text">
                    <i class="fas fa-quote-left pr-2"></i>At I came accross this shop during my last visit to Pakistan
                    and since then I and my Pakistani and Canadian friends are ordering our special clothes from
                    Chotihatti. The quality is amazing, the dresses are made to perfection and prices are unmatched.
                    Thanks to Chotihatti for such quality.</p>
                <!--Review-->
                <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!-- Section: Testimonials v.3 -->
<!-- ################## END TESTIMONIALS SECTION ###########################-->
<!-- free shipping here -->
<section class="shipping_details section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="{% static 'chotihatti/img/icon/icon_1.png' %}" alt="">
                    <h4>Free shipping</h4>
                    <p>Save shipping cost* for a limited time and enjoy your shopping experience</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="{% static 'chotihatti/img/icon/icon_2.png' %}" alt="">
                    <h4>Buy online and now</h4>
                    <p>Save time and money. You can buy from us with a few clicks and items will be delivered at your
                        doorstep in no time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="{% static 'chotihatti/img/icon/icon_3.png' %}" alt="">
                    <h4>Save on bulk shopping</h4>
                    <p>Buy more and get attractive bonuses and gifts</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="{% static 'chotihatti/img/icon/icon_4.png' %}" alt="">
                    <h4>Customer Support</h4>
                    <p>Call or text us any time and will solve your issues in shortest possible time </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- free shipping end -->


{% endblock %}